#banner {
    margin-top: 50px;
    position: relative;
}

#banner{
margin: 0;
min-height: 100vh;
background-image: url(img/header-bg.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position:center;
}
#banner:before{
    content: "";
    width: 100%;
    min-height: 100vh;
   position: absolute;
    background:rgba(18, 12, 49, 0.637);
}

#banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
}

.redes-ban a{
    color: white;
}

.content a{
    text-align: center;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 15px 35px;
    border: 1px solid #fff;
    
}

.content a:hover{
    background: rgba(51,51,51, 0.5)
}

@media (max-width:950px){
    #banner:before{
        content: "";
        width: 100%;
        min-height: 100vh;
       position: absolute;
        background:rgba(105, 108, 133);
    }
    .redes-ban {
        
        margin-top: 50%;
        text-decoration: none;
        text-align: center;
        color: white;
        font-size: 15px;
    }
    
    #banner h3{
        font-size: 15px;
    }

    .arclabs{
        display: none;
    }
    
    #banner .contenedor {
        margin-top: 20%;
    }


}



@media (min-width:959px){

    #banner .redes-ban{
        position: absolute;
        margin-top: 20%;    
        margin-left: -30%;
        
    }

    .redes-ban a{
        margin: 5px;
    }

    .arclabs {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        display: inline-block;
        opacity: 0.1;
        
    }
    
    .arclabs IMG{
        width: 600px;
        height: 100px;

    }
    #banner .contenedor img {
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-160%);
        color: white;
    }
}