.banner {
    margin-top: 50px;
    position: relative;
}

.banner img{
    box-sizing: 720px;
    width: 100%;
    height: 800px;
}

.banner .content {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: rgb(255, 255, 255);
    line-height: 50px;
}

.banner h2{
    font-size: 45px;
    padding: 30px;
    
}

.content a{
    text-align: center;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 0px 50px 0px 50px;
    border: 3px solid #fff;
    
}

.banner .content a:hover{
    background: rgba(51,51,51, 0.5)
}

.redes-ban {
    position: absolute;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    top: 90%;
    left: 40%;
    color: white;
    font-size: 20px;
  }

.redes-ban A:link {text-decoration: none;
text-align: center;
left: 20%;}
A:visited {color: white;  font-family: arial; text-decoration: none }
A:hover { color: white; font-family: arial; text-decoration: none }
*{outline:none !important;}*:focus {outline: none !important;}textarea:focus, input:focus{outline: none !important;}	a{text-decoration: none !important;outline: none !important;}