.blog .contenedor {
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.blog article {
    margin: 50px;
    padding: 20px;

}

.blog img {
   width: 100%;
   margin: auto;
   max-width: 150px;
   border: #263a4e 1px solid;
       
}
.blog h4, h5 {
    text-align: center;
    padding: 10px 0px 10px 0px;
}

h4{
    font-size: 20px;
    color: rgb(38, 58, 78);    
}

h5{
    font-size: 15px;
    color: rgba(38, 58, 78, 0.6);
    line-height: 25px;
}