
#logos img{
    padding: 50px 20px;
    background: white;
    display: flex;
    margin-left: 50px;
    flex-direction: column;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: .5;
    color: white;

}
footer{
    background-color: rgb(14, 20, 36);
    
}
footer .contenedor {
    
    color: white;
    display: flex;
    padding: 50px 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    
    
}
footer .contenedor h6{
    color: white;
    font-size: 15px;
    margin-bottom: 30px;
    margin-top: 50px;
}
footer .contenedor li{
color: grey;
line-height: 40px;

}

footer .contenedor li a{
    color: gray;
text-decoration: none;    
}

footer .contenedor li a:hover{
    color: honeydew;
}

footer .contenedor ul{
    margin: 0 30px;
    box-sizing: border-box;
}

.tec{
    display: inline-block;
    flex-direction: row;

}

.tec input {
    background: rgb(51, 79, 108);
    display: inline-block;    
    border: 0;
    padding: 0;
    
    width: 190px;
    border-radius: 0px;
    height: 30px;
    margin: 0;
    
}
.tec button{
    background:white;
      
    border: 0;
    padding: 0;
    outline: none;
    width: 100px;
    border-radius: 0px;
    height: 30px;
}


.footer .contenedor{
    justify-items: right;
    display: block;
    text-align: end;
}
.footer .redes a{
    
    color: white;
    background: rgb(51, 79, 108);
    padding: 10px;
    

}
.copy{
    margin-bottom: 30px;
    text-align: start;
}
.footer .copy a{
    color: #cea06c;
}
@media (max-width:959px){
    #logos .log{
        display: none;
    }
    
    .footer .contenedor{
        font-size: 15px;
        padding-left: 10px;
        text-align: start;
    }

    footer .contenedor{
        width: 100%;
        flex-direction: column;
        
    }

    .foot5{
        flex-direction: row;
        box-sizing: content-box;
    }
}