#menu-bar   {
    display: none;

}

.icon-menu {
    border: white 1px solid;
}
header label {
    float: right;
    font-size: 35px;
    margin: 20px 0;
    cursor: pointer;
}
header .contenedor {
    display: table;
}

.menu  {
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #333;
    transition: all 0.5s;
    transform: translateX(-100%);
    text-decoration: none;
}

.menu a{
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.menu a:hover{
    background: rgb(255,255,255, 0.3);
}
#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}

li .submenu {
    
}