#menu-bar   {
    display: none;
}

header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu  {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #333;
    transition: all 0.5s;
    transform: translateX(-100%);
    text-decoration: none;
}

.menu a{
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}

li .submenu {
    
}